<!-- the inner part of web handled by angular-->

<!-- longin function -->






<div class = "row" ng-show = "getCookieCandidate == 'undefined' || getCookieCandidate == null ">
    <div class = "row">
        <div class = "col-md-6 col-md-offset-3">
            <div class = "panel-default">
                <div class = "panel-heading">
                    <h4>Your Email:</h4>
                </div>
                <div class = "panel-body">
                    
                    <form ng-submit = "test()">
                        <div class = "form-group">
                            <input class = "form-control" type = "text" ng-model = "CandidateEmailInput"/>
                        </div>
                        <input type = "submit" value = "test data" class = "btn btn-success"/>
                    </form>
                    
                </div>

            </div>

        </div>
    </div>
</div>
---------------
---------------
<div ng-show = "getCookieCandidate != 'undefined' || getCookieCandidate != null ">
    <div class = "row" ng-repeat = "matche in matches">
        //--------------
        <div class = "row">
            <div class = "col-md-3">
                Candidate: {{matche.CandidateFullName__c}}
            </div>
            <div class = "col-md-3">
                Company: {{matche.Company__r.Name}}
            </div>
            <div class = "col-md-3">
                Position: {{matche.Position__r.Name}}
            </div>
            <div class = "col-md-3">
                Stage: {{matche.Stage__c}}
            </div>
        </div>
        <div class = "row">
            <div class = "col-md-3">
                Rejected by: {{matche.RejectedBy__c}}
            </div>
            <div class = "col-md-3">
                Status: {{matche.Status__c}}
            </div>
            <div class = "col-md-3">
                Id: {{matche.Id}}
            </div>
            <div class = "col-md-3">
                <form ng-submit = "accept(matche.Id)">
                                <div class = "form-group">

                                </div>
                                <input type = "submit" value = "Accept" class = "btn btn-success"/>
                </form>
            </div>
            <div class = "col-md-3">
                <form ng-submit = "reject(matche.Id)">
                                <div class = "form-group">

                                </div>
                                <input type = "submit" value = "Reject" class = "btn btn-danger"/>
                </form>
            </div>

        </div>
        //--------------
    </div>
</div> 

