<!-- the inner part of web handled by angular-->

<!-- longin function -->
<div class = "row" ng-show = "useridNow === ''">
    <div class = "col-md-6 col-md-offset-3">
        
        
        <uib-tabset active="active">
            <uib-tab index="0" heading="Returning user">
                <div class = "panel-default">
                    <div class = "panel-heading">
                        
                    </div>
                    <div class = "panel-body">
                        
                        
                        <form ng-submit = "signIn()">
                            <div class = "form-group">
                                <input class = "form-control" type="text" placeholder="User name:" ng-model="login.userid">
                                <input class = "form-control" type="password" placeholder="Password:" ng-model="login.password">
                            </div>
                            <input type = "submit" value = "Sign in" class = "btn btn-success"/>
                        </form>
                        
                        
                        <!--<h3>or</h3>
                        <button ng-click = "signInAsGuest()" class = "btn btn-success">Sign in as guest</button>
                        -->
                    </div>
                </div>
                
            </uib-tab>
            
            
            <uib-tab index="1" heading="New user">
                <div class = "panel-default">
                    <div class = "panel-heading">
                        
                    </div>
                    <div class = "panel-body">
                        
                        
                        <form ng-submit = "signUp()">
                            <div class = "form-group">
                                <input class = "form-control" type="text" placeholder="User name:" ng-model="logup.useridNew">
                                <input class = "form-control" type="password" placeholder="Password:" ng-model="logup.passwordNew">
                                <input class = "form-control" type="password" placeholder="Confirm password:" ng-model="logup.password2New">
                            </div>
                            <input type = "submit" value = "Sign up" class = "btn btn-success"/>
                        </form>
                        
                        
                       
                    </div>
                </div>
                
            </uib-tab>
            
        </uib-tabset>
        
        
        

        
    </div>
</div>


<!-- type in long url -->

<div class = "row" ng-show = "useridNow != ''">
    <div class = "col-md-6 col-md-offset-3">
        <div class = "panel-default">
            <div class = "panel-heading">
                <h3 ng-hide = "useridNow === ''">Current user: {{useridNow}}</h3>
                <a ng-href="javascript:void(0);" ng-click="signOut()" class = "btn btn-danger">Log Out</a>
            </div>
            <div class = "panel-body">
                <h4>Input your long URL to create your short URL</h4>
                <form ng-submit = "submit()">
                    <div class = "form-group">
                        <input class = "form-control" type = "text" ng-model = "longUrl"/>
                    </div>
                    <input type = "submit" value = "Get Your Short URL" class = "btn btn-primary"/>
                </form>
            </div>
        
    </div>

</div>


<!-- showing records for this user function -->
<div class = "col-md-6 col-md-offset-3">
        <div class = "panel-default">
            <div class = "panel-heading">
                <div class = "row" ng-show = "useridNow != ''">
                    <h2>Hi {{useridNow}}!</h2>
                    <h3>You have {{urlCounts}} URL record<span ng-show = "urlCounts > 0"><span ng-show = "urlCounts > 1">s </span>: </span> <span ng-show = "urlCounts === 0">.</span> </h3>
                </div>
            </div>
            <div class = "panel-body" ng-repeat = "url in urls track by $index">
                <div ng-show = "urlCounts > 0">
                    <div class = "row">
                        <div class = "col-md-6 col-md-offset-3">
                            <div class = "row" >
                                <h4>Your long URL is:</h4>
                                <a ng-href="javascript:void(0);" ng-click="submit2(url.shortUrl)">{{url.longUrl}}</a>

                            </div>
                            <div class = "row">
                                <h4>Your short URL is:</h4>
                                <a ng-href="{{url.shortUrl}}" target = "_blank">{{url.shortUrl}}</a>

                            </div>
                            
                            
                            

                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
    

